.login_screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  .login-block {
    width: 420px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #5e5df0;
    margin: 0 auto;
    h1 {
      text-align: center;
      color: #000;
      font-size: 18px;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 20px;
    }
    input {
      width: 100%;
      height: 42px;
      box-sizing: border-box;
      border-radius: 5px;
      border: 1px solid #ccc;
      margin-bottom: 20px;
      font-size: 14px;
      font-family: Montserrat;
      padding: 0 20px 0 50px;
      outline: none;
      &:active,
      :focus {
        border: 1px solid #5e5df0;
      }
    }
    button {
      width: 100%;
      height: 40px;
      background: #5e5df0;
      box-sizing: border-box;
      border-radius: 5px;
      border: 1px solid #5e5df0;
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 14px;
      outline: none;
      cursor: pointer;
      &:hover {
        background: #ff7b81;
      }
    }
  }
}
